<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/favicon-96x96.png" type="image/png">
  <title>Listado de Facturas</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
      <a href="/invoices/new" class="btn">Crear Nueva Factura</a>
      <a href="/login/dashboard" class="btn btn-menu">Ir al Menú Principal</a>
    </nav>

  <div class="container">
    <h1>Facturas Emitidas</h1>
    <form method="GET" action="/invoices/list" class="search-bar">
    <input
      type="text"
      name="search"
      placeholder="Buscar por nombre de cliente o código de factura"
      value="<%= typeof search !== 'undefined' ? search : '' %>"
    />
  <button type="submit">Buscar</button>
</form>

    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
  <% if (Object.keys(groupedByDate).length === 0) { %>
    <tr><td colspan="5">No hay facturas registradas.</td></tr>
  <% } else { %>
    <% Object.keys(groupedByDate).forEach(dateKey => { %>
      <tr>
        <td colspan="5" style="background-color: #f0f0f0; font-weight: bold;">
          📅 <%= dateKey %>
        </td>
      </tr>

      <% groupedByDate[dateKey].forEach(invoice => { %>
        <tr>
          <td><%= invoice.invoiceCode %></td>
          <td><%= invoice.customer.fullName.replace(/\b\w/g,c=>c.toUpperCase()) %></td>
          <td><%= new Date(invoice.date).toLocaleDateString() %></td>
          <td>$<%= invoice.totalAmount.toFixed(2) %></td>
          <td>
            <a href="/invoices/<%= invoice.id %>" class="btn btn-create">Ver</a>
          </td>
        </tr>
      <% }) %>
    <% }) %>
  <% } %>
</tbody>
    </table>
  </div>
</body>
</html>